@use 'variables';
@use 'mixins';

.action {
    @include mixins.flex(row, center, center, nowrap);
    font: inherit;
    padding: 0;
    cursor: pointer;
    color: inherit;
    border: none;
    background-color: transparent;
    padding: mixins.toRem(10);

    &.primary {
        @include mixins.ui-default-transition(background-color);
        position: relative;
        overflow: hidden;
        font-size: mixins.toRem(16);
        line-height: mixins.toRem(19);
        color: variables.$color__button-primary;
        background-color: variables.$color__button-primary-bg;
        font-weight: 600;

        &:hover,
        &:focus {
            & .icon {
                transform: translate3d(0, 0, 0);
            }
        }

        & .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            width: mixins.toRem(40);
            height: 100%;
            transform: translate3d(100%, 0, 0);
            transform-origin: right center;
            transition: all 0.46s cubic-bezier(0.7, 0, 0.3, 1);
            background-color: variables.$theme-color__secondary-monochromatic;

            & svg {
                height: mixins.toRem(18);
                color: variables.$white;
            }
        }
    }

    &.add,
    &.remove,
    &.settings {
        font-size: mixins.toRem(18);
        line-height: mixins.toRem(19);
        color: variables.$white;
        font-weight: 600;

        &:hover,
        &:focus {
            & svg {
                scale: 1.2;
            }
        }

        & svg {
            @include mixins.ui-default-transition(scale);
            pointer-events: none;
        }
    }

    &.add {
        background-color: variables.$green;
    }

    &.remove {
        background-color: variables.$red;
    }

    &.settings {
        position: absolute;
        top: mixins.toRem(10);
        right: mixins.toRem(10);
        padding: 0;
    }
}
