@use 'variables';
@use 'mixins';
@use 'buttons';

body {
    margin: 0;
    background-color: variables.$theme-background-color__primary;
    color: var(--text);
}

main {
    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 2.5fr 3fr;
        gap: mixins.toRem(20);
    }
}

.control-field__container {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid__add-rem,
.gird__column-template,
.gird__row-template {
    grid-column: 1 / 3;
}

.result__preview__container {
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(20);
    padding: mixins.toRem(10);

    @media (min-width: 1024px) {
        grid-column: 2 / 3;
        position: sticky;
        top: 0;
        height: fit-content;
    }
}

.control-field__section {
    padding: mixins.toRem(20);
    border-bottom: 1px solid variables.$grey-50;
}

.control-field__title {
    font-size: mixins.toRem(21);
    line-height: mixins.toRem(24);
    margin-bottom: mixins.toRem(20);
}

.control-field__description {
    font-size: mixins.toRem(14);
    line-height: mixins.toRem(21);
    margin-bottom: mixins.toRem(20);
    min-height: mixins.toRem(63);
}

.controls__container {
    display: flex;
    gap: 10px;
}

.gutter__controls {
    display: block;

    & .controls__list__item {
        grid-template-columns: 1fr 1fr;
    }
}

.alignment__controls {
    display: block;

    & .controls__list__item {
        grid-template-columns: 1fr;
    }
}

.controls__list__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: mixins.toRem(15);
}

.controls__list__item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
}

.column__value {
    height: 100%;
}

.control-field__current-value__label {
    font-size: mixins.toRem(14);
    line-height: mixins.toRem(21);
    margin-bottom: mixins.toRem(5);
}

.grid__list {
    display: grid;
}

.grid__item {
    @include mixins.flex(row, center, center, nowrap);
    background: variables.$theme-color__primary;
    color: #fff;
    padding: mixins.toRem(20);
    font-size: mixins.toRem(21);
    border-radius: mixins.toRem(5);
}

.result-code {
    position: relative;
    padding: mixins.toRem(10);
    background-color: #ebe9db;
    border-radius: 5px;
}

.copy-code {
    @include mixins.ui-default-transition(all);
    position: absolute;
    top: mixins.toRem(10);
    right: mixins.toRem(10);
    font-size: mixins.toRem(14);
    padding: mixins.toRem(5) mixins.toRem(10);
    color: variables.$grey-50;
    background-color: variables.$white;
    border-radius: 5px;

    &:hover {
        color: variables.$white;
        background-color: variables.$grey-50;
    }
}

.icon {
    stroke-width: 2;

    &.close {
        transform: rotate(45deg);
    }
}

.add-template {
    & svg {
        font-size: mixins.toRem(12);
    }
}
