@use 'variables';
@use 'mixins';
@use 'buttons';

body {
    margin: 0;
    background-color: variables.$theme-background-color__primary;
    color: var(--text);
}

main {
    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 2.5fr 3fr;
        gap: mixins.toRem(20);
    }
}

.control-field__container {
    @media (min-width: 1024px) {
        grid-column: 1 / 2;
    }
}

.result__preview__container {
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(20);
    padding: mixins.toRem(10);

    @media (min-width: 1024px) {
        grid-column: 2 / 3;
        position: sticky;
        top: 0;
        height: fit-content;
    }
}

.control-field__section {
    padding: mixins.toRem(20);
    border-bottom: 1px solid variables.$grey-50;
    max-width: mixins.toRem(500);
}

.control-field__title {
    font-size: mixins.toRem(21);
    line-height: mixins.toRem(24);
    margin-bottom: mixins.toRem(20);
}

.control-field__description {
    font-size: mixins.toRem(14);
    line-height: mixins.toRem(21);
    margin-bottom: mixins.toRem(20);
}

.controls__container {
    display: flex;
    gap: 10px;
}

.controls__list__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: mixins.toRem(15);
}

.controls__list__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.control-field__current-value__label {
    font-size: mixins.toRem(14);
    line-height: mixins.toRem(21);
    margin-bottom: mixins.toRem(5);
}

.grid__list {
    display: grid;
}

.grid__item {
    @include mixins.flex(row, center, center, nowrap);
    background: #3273dc;
    color: #fff;
    padding: mixins.toRem(20);
    font-size: mixins.toRem(21);
    border-radius: mixins.toRem(5);
}

.result-code {
    position: relative;
}

.copy-code {
    position: absolute;
    top: 0;
    right: 0;
    font-size: mixins.toRem(14);
    padding: mixins.toRem(5);
    background-color: #828282;
    border-radius: 5px;
}
